@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* *{
  border:1px solid greenyellow;
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


ul {
  list-style-type: none;
  padding: 0;
}

#Hero{
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url('/heroimage.png') no-repeat;
  background-size: cover;
  background-position: center;
}

#ContactHero{
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url('/contactheroimage.png') no-repeat;
  background-size: cover;
  background-position: center;
}


@media(min-width:768px){
  #Hero{
    background-position: top;
  }
}

#pickup{
  background: url('/icon-current-location.png'), url('/chevron-right.svg') ;
  background-repeat: no-repeat, no-repeat;
  background-size: 18px 18px;
  background-position: 5px 50%;
  padding:1rem 25px ;
}

#delivery{
  background: url('/icon-map-pin.png'), url('/chevron-right.svg') ;
  background-repeat: no-repeat, no-repeat;
  background-size: 18px 18px;
  background-position: 5px 50%;
  padding:1rem 25px ;
}

#document{

    background: url('/icon-box.png'), url('/chevron-right.svg') ;
    background-repeat: no-repeat, no-repeat;
    background-size: 18px 18px;
    background-position: 5px 50%;
    padding:1rem 25px ;
  
}

/* partners card */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.slide-animation {
  display: flex;
  animation: scroll 40s linear infinite;
  will-change: transform;
}

.image-remove-bg {
  mix-blend-mode: multiply;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.slide-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

/* Additional style to ensure the container works seamlessly */
.no-scrollbar {
  display: flex;
  white-space: nowrap;
  /* Prevents wrapping of elements */
  overflow: hidden;
}

.image-container {

  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}